.container {
    display: flex; 
    background-color: #FFF;
    flex-direction: column;
}
.form-user{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items:flex-start;
    
}
.form-user label{
   font-size: 18px;
   font-weight: bold;
   margin-top: 10px;
   margin-bottom: 5px;
}

form .input{
    background-color: #EFEFEF;
    border-radius: 4px;
    border: none;
    padding: 10px;
    width: 400px;
    border: 1px solid rgba(0,0,0,0.4);
}
form select {
    background-color: #EFEFEF;
    border-radius: 4px;
    border: none;
    padding: 10px;
    width: 220px;
}


form input[type="radio"]:not(:first-child){
    margin-left: 15px;
}

.status span{
    padding-left: 0.5em;
    font-size: 1.3em;
}

form textarea {
    resize: none;
    height: 105px;  
    width: 50%;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

form button {
    margin-top: 10px;
    background-color: #02945D;
    border-radius: 4px;
    border: none;
    padding: 10px;
    width: 150px;
    color: #FFF;
    font-size: 16px;
}
